* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
}

.container {
  text-align: center;

}

.title {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 24px;
  font-size: 32px;
}

.color {
  color: #49a6e9;
}

.btn {
  background-color: transparent;
  border: 2px solid #222;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #222;
  cursor: pointer;
  outline: none;
  transition: .2s all;
}

.btn:hover {
  background-color: #222;
  color: #fff;
}

.btn:active {
  color: #49a6e9;
}